.container {
    display: inline-block;
}

.nav-bar-color {
    background-color: #8E7159 !important;
}

.nav-bar-link {
    font-family: Royale;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-styled {
    margin: right 1em;
}

MDBFooter {
    text-align: center;
}

.form {
    width: 500px;
    margin: auto;
    position: relative;
}

.card-info {
    background-color: white;
    text-align: center;
}

.subtitle-text-card {
    font-size: 10px;
}

.jumbotron {
    background-color: #495E61 !important;
    margin-bottom: -25px !important;
}

.social-highlights {
    padding: 5px;
}
.img-fluid {
    height: 300px;
    width: 500px;
}

.btncolor {
    color: white;
}

@font-face {
    font-family: Royale;
    src: url(./fonts/ROYALE-Bold.otf);
}

@font-face {
    font-family: Grovana;
    src: url(./fonts/Grovana-BoldRound.otf) ;
}

h1 {
    font-family: Royale;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-family: Grovana;
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.footer-text {
    font-size: small;
}
